# ignore these in all commits
Debug
*sdf
*.ncb
ipch
*.suo
*.user
*.pdb
*.txt

# ignore in the intermediate commits
#*.md
#Release
#lib
#include
#data
#*.dll

# ignore in the final commit
Tetris3D/*.dll
Tetris3D/Release

# allow in the final commit:
#Release
#.dll
#include
#lib
#data
#*.md

